{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Shop
{% endblock %}
{% block styles %}
<style>
  .featured-icons .fa {
    visibility: hidden;
   
  }

  .col-md-3:hover .featured-icons .fa {
    visibility: visible;
  }
  

</style>
{%endblock%}
{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="container-fluid page-header py-5">
    <div class="row">
        <div class="col-lg-12">
      <nav aria-label="breadcrumb" style="background-image: url('{% static '/images/adobe.jpg' %}'); background-size: cover; width:100%; height:250px;">
    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-bold" href="{% url 'user:index' %}">Home</a></li>
      <li class="breadcrumb-item active text-dark fw-bold" aria-current="page">Shop</li>
    </ol>
  </nav>
</div>
</div>
</div>
  <!-- Breadcrumb Section End -->
   <!-- Product Section Begin -->
   <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-4">
        <div class="sidebar">
            <div class="hero__categories mb-5">
                    <ul style="list-style-type: none;">
                        <li><a class="text-decoration-none fs-4" style="color:#B22222;" href="{% url 'products:viewshop'%}">CATEGORIES</a>
                          {% for cat in sub_category %} 
                        <li><a class="text-decoration-none text-dark" href="{% url 'category:showcategoryproduct' cat_id=cat.id %}">{{cat.category_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            <form method="post">
                {% csrf_token %}
                <div class="sidebar mx-3">
                        <p class="fs-3" style="color:#B22222;">Price</p>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 {% if min %} data-min="{{min}}" {% else %} data-min="10" {% endif %} {% if max %}
                                 data-max="{{max}}" {% else %} data-max="2000" {% endif %} >
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount" name="minamount" value="100">
                                    <input class="my-2" type="text" id="maxamount" name="maxamount" value="8000">
                                </div>
                            </div>
                        </div>
    
                </div>
                <div class="sidebar__item mx-2 my-2">
                    <p class="fs-3" style="color:#B22222;">Popular Size</p>
                    <div class="sidebar__item__size">
                        <label class="size-label" for="large">
                            <input type="radio" id="large" name="filter_size" value="6UK" {% if size == 6UK %} checked {% else %} {% endif %}>
                            <span class="checkmark"></span>
                            6UK
                        </label>
                    </div>
                    <div class="sidebar__item__size">
                        <label class="size-label" for="medium">
                            <input type="radio" id="medium" name="filter_size" value="7UK"  {% if size == 7UK %} checked {% else %} {% endif %}>
                            <span class="checkmark"></span>
                            7UK
                        </label>
                    </div>
                    <div class="sidebar__item__size">
                        <label class="size-label" for="small">
                            <input type="radio" id="small" name="filter_size" value="8UK"  {% if size == 8UK %} checked {% else %} {% endif %}>
                            <span class="checkmark"></span>
                            8UK
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary my-2 mx-3">filter</button>
            </form>
        </div>
    </div>
    <!--Filter section for categories-->
    {% if cat_products %}
    <div class="col-lg-10 col-md-8 d-flex flex-column">
        <div class="row">
          {% for product in cat_products %}
          <div class="col-md-3 mt-3 position-relative">
            <div class="card mx-2" style="width:15rem;border:none" >
                <a href="{% url 'products:singleproductview' product_id=product.id %}"> 
                    <img src="/media/{{product.product.images}}" class="card-img-top" alt="" ></a>
            <div class="card-body text-center">
              <h6 class="card-title text-center" id="namepr{{product.id}}">{{product.product.product_name}}</h6>
              <div class="text-center">
                <span class="price fw-bold">₹ {{product.discount_price}}</span>
               
              </div>
              <div class="featured-icons mt-2">
                <a href="{% url 'dashboard:addwishlist' variant_id=product.id%}" class="text-decoration-none mx-2"><i class="fa fa-heart fs-5"style="color:#E9967A;" title="Add to Wishlist"></i></a>
                <a href="{% url 'cart:addcart' product.id %}" class="text-decoration-none btn btn-block px-3"style="background-color:#E9967A;">Add Cart</a>
              </div>
            </div>
          </div>
          </div>
          {% endfor %}

        </div>
      <!-- <nav aria-label="...">
            <ul class="pagination">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>-->
    </div>
    {% else %}
    {% if sale_off %}
    <div class="col-lg-10 col-md-8 d-flex flex-column">
        <div class="product__discount">
            <div class="section-title product__discount__title">
                <h2 class="text-center" style="color: #FF6347;"></h2>
            </div>
            <div class="row">
                
            </div>
        </div>
        {% if all_products %}
        <div class="filter__item">
            <div class="row">
                <div class="col-lg-4 col-md-5">

                </div>
                <div class="col-lg-4 col-md-4 ">
                    <div class="filter__found">
                        <!--<h6>Other Products </h6>-->
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
          {% for variant in all_products %}
          <div class="col-md-3 mt-3 position-relative">
            <div class="card mx-1" style="width:15rem;border:none" >
                <a href="{% url 'products:singleproductview' product_id=variant.id %}">
                    <img src="/media/{{variant.product.images}}" class="card-img-top" alt="" ></a>
            <div class="card-body text-center">
              <h6 class="card-title text-center" id="namepr{{variant.product.id}}">{{variant.product.product_name}}</h6>
              <p>Product ID: {{variant.product.id}}</p>
              <div class="text-center">
                <span class="price fw-bold">₹ {{variant.product.discount_price}}</span>
              </div>
              <div class="featured-icons mt-2">
                {% if variant.stock == 0 or product.stock == 0 %}
                <p class="text-danger">Out of Stock</p>
                {% else %}
                <a href="{% url 'cart:addcart' product_id=variant.id %}" class="text-decoration-none btn btn-block px-3"style="background-color:#E9967A;">Add Cart</a>
                <a href="{% url 'dashboard:addwishlist' variant_id=variant.id%}" class="text-decoration-none mx-2"><i class="fa fa-heart fs-5"style="color:#E9967A;" title="Add to Wishlist"></i></a>
                {% endif %}
              </div>
              
            </div>
          </div>
          </div>
          {% endfor %}

        </div>
        <!--                padgination-->
        <nav aria-label="...">
            <ul class="pagination">
                {% if cat_products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ cat_products.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                {% for i in cat_products.paginator.page_range %}
                {% if cat_products.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ i }}</span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if cat_products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ cat_products.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    </div>
  </div>
{% endblock %}

{% block j-script %}
<script>
        $(function() {
            const slider = $('.price-range');
            const minAmount = $("#minamount");
            const maxAmount = $("#maxamount");

            slider.slider({
                range: true,
                min: 10,
                max: 2000,
                values: [10, 2000],
                slide: function(event, ui) {
                    minAmount.val("₹"+ui.values[0]);
                    maxAmount.val("₹"+ui.values[1]);
                }
            });
        });


</script>
{% endblock %}