{% extends 'userprofile/profileinfo.html' %}
{% load static %}
{% block title %}
User profile
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock%}
{% block content%}
<div class="container-fluid page-header">
    <div class="row ">
     <div > <!--Breadcrumb begins-->
          <div class="col-lg-8 offset-lg-2 text-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-bold" href="{% url 'cart:profile' %}">Profile</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Order</li>
              </ol>
          </div><!-- End .container -->
     </div>
  </div>
</div>
<div>
    {% if messages %}
    <div class="container" style="background-color:transparent;">
        <ul class="messages mx-auto text-center">
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                 {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<!--
<div class="container-fluid">
    <div class="row">
        <div class="d-flex mx-4">
            <div>
                {% if item.status != 'Delivered' %}
                <div class="mt-5">
                    {% if item.status == 'Cancelled' %}
                    <div class="d-flex">
                        <div class="_3SbeKb qU6Nxg mt-2"></div>
                        <h5>Cancelled</h5></div>
    
                    {% else %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        cancel order
                    </button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
    </div>    
</div>-->
    {% if order_items %}
    <div class="container" style="bg-color: white !important;">
        <div class="d-flex">
            <div class="col-6">
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="col-6 d-flex justify-content-end ">
                    <div class="mr-2">
                        <select class="form-select" aria-label="status" name="status">
                            <option selected value="status">status</option>
                            <option value="all">All</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Delivered">Delivered</option>
                            <option value="Order Confirmed">Order confirmed</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Returned">Returned</option>
                        </select>
                    </div>
                    <div class="mx-2 py-2 btn btn-primary">
                        <button type="submit" class="btn btn-primary">filter</button>
                    </div>
                </div>
            </form>
    
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 m-5">
                <table class="table text-start align-middle table-bordered table-hover mb-0 table-stripped ">
                    <thead>
                        <tr>
                          <th scope="col">Order No.</th>
                          <th scope="col">Product</th>
                          <th scope="col">Image</th>
                          <th scope="col">Address</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Status</th>
                          {% if order.status != 'Cancelled' and  order.status != "Return requested" and order.status != "Returned" %}
                          <th scope="col">Actions</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td><div class="ms-3 mt-5">
                            <h5>{{item.order.tracking_no}}</h5> </div>
                        </td>
                        <td>
                            <div class="mt-5">
                                <a href="#" class="text-decoration-none">
                                    <img src="/media/{{item.product.images}}" class="img-fluid rounded-3"
                                         alt="Shopping item" style="width: 65px;">
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="text-decoration-none text-dark">
                                <div class="ms-3 mt-5">
                                    <h5>{{item.product.product_name}}</h5>
                                    <p class="small mb-0">size: {{item.variant.size}} </p>
                                    <p class="small mb-0">colour: {{item.variant.color}} </p>
                                    <p class="small mb-0">Quantity: {{item.quantity}} </p>
                                </div>
                            </a>
                        </td>
                        
                        <td>
                            <a href="#" class="text-decoration-none text-dark">
                                    <div class="mb-0">{{item.order.address.house_no}},{{item.order.address.street_name}},{{item.order.address.district}} </div>
                                    <div class="mb-0">Phone: {{item.order.address.mobile}} </div>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-decoration-none text-dark">
                                <div class="mt-5">
                                    <div style="width: 50px;">
                                        <h5 class="fw-normal mb-0">₹{{item.order.total_price}}</h5>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="text-decoration-none text-dark">
                                <div class="d-flex flex-row align-items-center mt-5">
                                    <div class="ms-3">
                                        {% if item.order.status == 'Canceled' %}
                                        <div class="btn btn-danger text-white"><h5>{{item.order.status}}</h5></div>
                                        {% elif item.order.status == 'Delivered'%}
                                        <div class="btn btn-success  text-white"><h5>{{item.order.status}}</h5></div>
                                        {% elif item.order.status == 'Order confirmed' %}
                                        <div class="btn btn-success text-white"><h5>{{item.order.status}}</h5></div>
                                        {% elif item.order.status == 'Shipped' %}
                                        <div class="btn btn-info text-white" ><h5>{{item.order.status}}</h5></div>
                                        {% elif item.order.status == 'Out for delivery' %}
                                        <h5 style="color:orange;">{{item.order.status}}</h5>
                                        {% elif item.order.status == 'Return requested' %}
                                        <div class="btn btn-success text-white"><h5>{{item.order.status}}</h5></div>
                                        {% elif item.order.status == 'Return processing' %}
                                        <div class="btn btn-warning"><h5>{{item.order.status}}</h5></div>
                                        {% else %}
                                        <h5 style="color:green;">{{item.order.status}}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </td>
                        {% if order.status != 'Cancelled' and  order.status != "Return requested" and order.status != "Returned" %}
                        <td>
                            <a class="btn btn-danger" style="border-radius: 35px;" href="{% url 'order:cancelorder' order_item_id=item.id %}">Cancel</a>
                            <button type="button" style="border-radius: 35px;" class="btn btn-info mt-3 text-white" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                              Return
                               </button>
                        </td>
                        
                        {% endif %}
      
                    </tr>
                    {% endfor %} 
                </table>
    
            </div>
        </div>
    </div>
    
    {% else %}
    <div class="col-lg-12 col-md-6 ">
        <div class="d-flex justify-content-center align-item-center"><h3>Your order list is empty</h3></div>
        <br>
        <div class="d-flex justify-content-center align-item-center"><a href="{% url 'products:viewshop' %}"
                                                                        class="btn btn-warning">Go to Shop</a></div>
    </div>
    {% endif %}
   
</div>
<div class="">
    <div class="modal fade col-lg-12 col-md-6 col-sm-3" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable">
       <div class="modal-content">
           <form method="post" action="#">
               {% csrf_token %}
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Order Cancellation</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   <h3>REASON FOR CANCELLATION</h3>

                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="cancel" id="noLongerHaveItem"
                              value="I no longer have this item">
                       <label class="form-check-label" for="noLongerHaveItem">I no longer have this item</label>
                   </div>

                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="cancel" id="dontWantToSell"
                              value="I don't want to sell this item">
                       <label class="form-check-label" for="dontWantToSell">I don't want to sell this item</label>
                   </div>

                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="cancel" id="foundDefective"
                              value="I found the item to be defective">
                       <label class="form-check-label" for="foundDefective">I found the item to be defective</label>
                   </div>

                   <div class="form-check">
                       <input class="form-check-input" type="radio" name="cancel" id="otherReason" value="other">
                       <label class="form-check-label" for="otherReason">Other</label>
                   </div>

                   <div class="form-group" id="otherReasonInput" style="display: none;">
                       <textarea class="form-control" name="reason" placeholder="Enter your reason"></textarea>
                   </div>
               </div>

               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary">Submit</button>
               </div>
           </form>
       </div>
   </div>
</div>
</div>
<!--Return Product Modal -->
<div class="modal fade col-lg-12 col-md-6 col-sm-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        {% for item in order_items %}
        <form method="post" action="{% url 'order:returnorder' order_item_id=item.id %}" >
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="">Return Product </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>REASON FOR RETURN PRODUCT</h3>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="return" id="noLongerHaveItem1"
                    value="I no longer have this item">
                <label class="form-check-label" for="noLongerHaveItem">I no longer have this item</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="return" id="foundDefective1" value="I found the item to be defective">
                  <label class="form-check-label" for="foundDefective">I found the item to be defective</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="return" id="otherReason1" value="other">
                    <label class="form-check-label" for="otherReason">Other</label>
                </div>
                    <div class="form-group" id="otherReasonInput1" style="display: none;">
                        <textarea class="form-control" name="reason" placeholder="Enter your reason"></textarea>
                    </div>
               </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              {% endfor %} 
        </form>
    </div>
 </div>
</div>
{% endblock %}

{% block j-script %}

<!-- Add this in the head section of your HTML file -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
$(document).ready(function() {
    // When the "Other" radio button is selected, show the textarea
   
     $('input[name="return"]').change(function() {
        if (this.value === "other") {
            $('#otherReasonInput1').show();
        } else {
            $('#otherReasonInput1').hide();
        }
    });
});










</script>
{% endblock %}

