{% extends 'user/base.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/cart/ui.css' %}" type="text/css">

{% endblock %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="container-fluid">
    <div vlass="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb" style="background-image: url('{% static '/images/cartbread.jpg' %}'); background-size: cover; width:100%; height:150px;">
                <ol class="breadcrumb justify-content-center mb-0">
                  <li class="breadcrumb-item"><a class="text-decoration-none text-dark fw-bold" href="{% url 'products:viewshop' %}">Shop</a></li>
                  <li class="breadcrumb-item active text-dark fw-bold">Shop Detail</a></li>
                  <li class="breadcrumb-item active text-dark fw-bold" aria-current="page">Cart</li>
            </nav>
        </div>
    </div>
</div>
<div><!--messages start-->
    {% if messages %}
<div class="container" style="background-color:transparent;">
    <ul class="messages mx-auto text-center">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
        {% endfor %}
    </ul>
</div>
{% endif %}
</div><!--messages end-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 mt-3">
                <table class="table text-start table-striped align-middle table-bordered-none table-hov  er mb-0">
                    <thead>
                    <tr>
                        <th class="shoping__product">Products</th>
                        <th></th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td class="shoping__cart__item">
                            <a href="{% url 'products:singleproductview' product_id=cart_item.variant.id %}">
                                <img src="{{ cart_item.product.images.url }}" alt="" width="100px">
                            </a>

                        </td>
                        <td class="shoping__cart__price"><h5>{{cart_item.variant.product.product_name}}</h5>
                            Size : {{cart_item.variant.size}}
                           <p>Colour : {{cart_item.variant.color}}</p></td>
                        <td class="shoping__cart__price">
                            ₹{{cart_item.variant.discount_price}}
                        </td>
                        <td class="shoping__cart__quantity">
                            <div class="col-lg-4">
                                <div class="input-group input-spinner">
                                    <div class="input-group-prepend">
                                        <a href="{% url 'cart:removecart' product_id=cart_item.variant.id %}" class="btn btn-light" id="button-minus"
                                           data-variant-id="{{ cart_item.variant.id }}">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control mx-2  " value="{{ cart_item.quantity }}"
                                           id="quantity-{{ cart_item.variant.id }}">
                                    <div class="input-group-append">
                                        <a href="#" class="btn btn-light" id="button-plus"
                                           data-variant-id="{{ cart_item.variant.id }}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- input-group.// -->
                            </div> <!-- col.// -->
                        </td>
                        <td class="shoping__cart__total" id="total{{ cart_item.variant.id }}">
                            ₹{{ cart_item.sub_total }}
                        </td>
                        <td class="shoping__cart__item__close">
                            <a class="text-decoration-none" href="{% url 'cart:removecartitem' cart_item.variant.id %}">
                                <span class="text-danger"><i class="fas fa-trash-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </div>
    </div>
</div>
<div class="container-fluid mt-2">
    <div class="row">
        <div class ="col-lg-6 justify-content-start">
            <div class="shoping__cart__btns">
                <a class="text-decoration-none text-dark" href="{% url 'products:viewshop' %}"><button type="button" class="btn btn-warning">CONTINUE SHOPPING</button></a>
            </div>   
        </div>
            <div class="col-lg-4 d-flex justify-content-end ">
                <div class="shoping__cart__btns">
                   
                    <a class="text-decoration-none text-dark" href="{% url 'products:viewshop' %}" ><button type="button" class="mx-2 btn btn-warning"><i class="fas fa-spinner"></i>
                         UPDATE CART</button></a>
                </div>
    
            </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
<div class="col-lg-6 mt-4">
    <form method="post" action="{%url "order:applycoupon" %}">
        {% csrf_token %}
        <div class="coupon-section bg-light mt-4 px-2">
            <h4 class="text-center">COUPON CODES</h4>
            <div class="coupon-form-wrap">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <p><input type="text" name="coupon_code" class="form-control mt-3" placeholder="Enter your Coupon"></p>
                <a href="{%url 'order:mycoupons' %}" class="text-decoration-none text-dark mt-3">
                    Have Coupon ?
                </a>
                <p><input type="hidden" name="order_id" class="form-control" value="{{order.id}}"></p>
                <div class="row">
                <div class="col-md-6 mb-2">
                <button type="submit" class=" mx-auto d-block btn btn-warning py-2 px-4">Apply</button>
                </div>
                <div class="col-md-6 mb-1">
                <button type="submit" class="mx-auto d-block btn btn-warning py-2 px-4" name="cancel">Cancel</button>
                </div>
                </div>
            </div>
        </div>
    </form>		
</div>
<div class="col-lg-6">
    <div class="shoping__checkout bg-light mt-5">
        <h4 class="d-flex align-items-center justify-content-center pt-3">CART TOTAL</h4>
        <ul class="list-unstyled">
            <li class="d-flex justify-content-between px-4 fs-5">Subtotal <span id="subtotal" class="text-danger"> ₹ {{subtotal}}</span></li>
            <li class="d-flex justify-content-between px-4 fs-5">Discount <span id="discount" class="text-danger"> ₹ {% if discount %}{{discount}}{% else %}0{% endif %}</span></li>
            <li class="d-flex justify-content-between px-4 fs-5">Total <span id="total_amount"class="text-danger" > ₹ {% if value %} {{value}} {% else %} {{total}} {% endif %}</span></li>
        </ul>
        <a href="{% url 'cart:checkout' %}" class="text-decoration-none"><button type="button" class="mx-2 mx-auto d-block btn btn-warning">PROCEED TO CHECKOUT</button></a>
    </div>
</div>


</div>
    </div>
</div>
{% endblock %}

{% block j-script %}
<script>
    $(document).ready(function () {
        // Attach a change event handler to the select field
        $("#coupon_select").change(function () {
            // Get the selected value from the select field
            var selectedValue = $(this).val();
    
            $("#apply_coupon").val(selectedValue);
    
        });
        $("#variant-dropdown").trigger("change");
    
    
     function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Check if the cookie name matches the CSRF token cookie name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
    
    
        // Increment button
        $('body').on('click', '#button-plus', function (e) {
            e.preventDefault();
            var variantId = $(this).data('variant-id');
            var quantityField = $('#quantity-' + variantId);
            var csrftoken = getCookie('csrftoken');
            console.log("hh");
             console.log(variantId);
            $.ajax({
                type: 'POST',
                url: "{% url 'cart:increment' 0 %}".replace('0', variantId),
                data: {
                    'variant_id': variantId,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function (data) {
                if (data.messages=="error"){
                        Swal.fire({
                          position: "top-end",
                          icon: "error",
                          title: "Out of stock",
                          showConfirmButton: false,
                          timer: 1500
                        });
                    } 
                    quantityField.val(data.quantity);
                    console.log(data.quantity);
                    console.log("hii",data);

    
                    document.getElementById('total' + variantId).innerText = "₹"+data.total;
                    document.getElementById('subtotal').innerText = "₹" + data.sub_total;
    
                    var totalAmount = document.getElementById('total_amount')
    
                    var discountSpan = document.getElementById('discount')
                    var discount = discountSpan.textContent.replace(/[^\d.-]/g, '');
                    console.log(discount);
                    console.log('Raw discount value:', discount);
                    if (isNaN(discount))
                    {
                    discount=0;
                    }
    
                        // Update the content of the span with the received total value
                        var total = data.sub_total - parseFloat(discount);
                        totalAmount.innerText = "₹" + total;
                        document.getElementById('subtotal').innerText = "₹" + data.sub_total;
                        console.log('Total after applying discount:', total);
                        console.log('Raw discount value:', discount);
                        console.log('Discount (parsed):', parseFloat(discount));
                }
              
            });
        });
    
        // Decrement button
        $('body').on('click', '#button-minus', function (e) {
            e.preventDefault();
            var variantId = $(this).data('variant-id');
            var quantityField = $('#quantity-' + variantId);
             var csrftoken = getCookie('csrftoken');
    
            $.ajax({
                type: 'POST',
                url: "{% url 'cart:removecart' 0 %}".replace('0', variantId),
                data: {
                    'variant_id': variantId,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function (data) {
                if (data.status === 'empty') {
                // Redirect to the 'cart' page
                window.location.href = "{% url 'cart:cart' %}";
                }else{
                    quantityField.val(data.quantity);
                    console.log(data.quantity);
                                    console.log("hi");
                    console.log(data.sub_total);
                    document.getElementById('total' + variantId).innerText = "₹"+data.total;
                    document.getElementById('subtotal').innerText = "₹" + data.sub_total;
                    var totalAmount = document.getElementById('total_amount')
    
                    var discountSpan = document.getElementById('discount')
                    var discount = discountSpan.textContent.replace(/[^\d.-]/g, '');
                    console.log(discount);
                    if (isNaN(discount))
                    {
                    discount=0;
                    }
    
                        // Update the content of the span with the received total value
                        var total = data.sub_total - parseFloat(discount);
                        totalAmount.innerText = "₹" + total;
                        document.getElementById('subtotal').innerText = "₹" + data.sub_total;
    
    
                    }
    
                }
            });
        });
    });
    
    
    
    </script>
    
    {% endblock %}