{% extends 'user/base.html' %}
{% load static %}

{% block title %}
Shop
{% endblock %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
      <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-decoration-none text-dark" href="{% url 'user:index' %}">Home</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Shop</li>
    </ol>
  </nav>
</div>
</div>
</div>
  <!-- Breadcrumb Section End -->
  <!-- Product Section Begin -->
  <section class="product partition">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="section_categories mb-5">
                        <div class="section__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'view_shop'%}">All Category</a>
                                {% for cat in sub_category %}
                            <li><a href="{% url 'show_category_product' cat_id=cat.id %}">{{cat.category_name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

{% endblock %}